* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background: #222933;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  min-height: 100vh;
  gap: 30px;
}
.grid h2 {
  padding: 0px 0 20px;
}
.grid button {
  margin: 10px 0 40px;
}
img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.grid > div:first-child {
  flex: 2;
}
.grid > div:last-child {
  flex: 1;
}
#game {
  margin-top: 2rem;
}
#img {
  width: 60%;
}
#title {
  color: #fff;
  font-weight: bold;
}
#subtitle {
  color: #bbb;
  padding-bottom: 20px;
}
/* game board */
table {
  display: grid;
  place-items: center;
  height: 100%;
  background: hsl(215, 20%, 30%);
}
table td {
  width: 140px;
  height: 140px;
  font-size: 40px;
  text-align: center;
  background: hsl(215, 20%, 19%);
  border: 0.5px solid #222933;
  font-weight: bold;
  font-family: "Lobster", cursive;
  color: #fff;
}

#gif {
  position: relative;
  pointer-events: none;
}

@media (max-width: 760px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .grid #img {
    width: 60%;
  }
  .grid > div:first-child {
    order: 2;
  }
  .grid > div:last-child {
    order: 1;
  }
  .grid table td {
    width: 120px;
    height: 120px;
  }
}
